In [ ]:
x=2
print(type(x))
x=3.5
print(x)
const(x)

<class 'int'>
3.5

NameError: ignored

In [ ]:
import constant
a=3.4
print(a)

3.4

In [ ]:
pip install constant

Requirement already satisfied: constant in /usr/local/lib/python3.10/dist-packages (0.0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from constant) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->constant) (2.1.3)

In [ ]:
import constant
a = 3.4
print(constant.a)
a=5.6
print(a)

AttributeError: ignored

In [ ]:
a=1
b=2
c=3
c=a+b+c
print(c)
c+=a
print(c)
c*=b
print(c)
c=c+1
print(c)
c=c-1
print(c)

6
7
14
15
14

In [ ]:
x={"avinash","balloon","cat"}
print(x)

{'balloon', 'avinash', 'cat'}

In [ ]:
tuple1=('a','b','cat','d','1.2','2.4')
print(tuple1)

('a', 'b', 'cat', 'd', '1.2', '2.4')

In [ ]:
array1=['a','b','cat',"1.5","2.2"]
print(array1)

['a', 'b', 'cat', '1.5', '2.2']

In [ ]:
dict1={
  'roll_no':('1','2','3'),
  'name':['a','b','c'],
  'age':{'10','20','30'}
  }
print(dict1)

{'roll_no': ('1', '2', '3'), 'name': ['a', 'b', 'c'], 'age': {'20', '30', '10'}}

In [ ]:
dept={
    'teach':{
        'employ_id':('1','2','3'),
        'name':('a','b','c'),
        'mob_no':('123','456','789')
    },
    'non_teach':{
        'employ_id':('4','5','6'),
        'name':('d','e','f'),
        'mob_no':('101112','121415','161718')
    }
}
print(dept)

{'teach': {'employ_id': ('1', '2', '3'), 'name': ('a', 'b', 'c'), 'mob_no': ('123', '456', '789')}, 'non_teach': {'employ_id': ('4', '5', '6'), 'name': ('d', 'e', 'f'), 'mob_no': ('101112', '121415', '161718')}}

In [ ]:
x=('a','b','c','d','e','f','g','h','i','j','k','l')
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

In [ ]:
a=2
b=3
c=5
if (a>b) & (a>c):
  {
    print("a is greatest")
  }
elif (b>c) & (b>a):
  {
    print("b is greatest")
  }
elif (c>a) & (c>b):
  {
    print("c is greatest")
  }
else:
  {
    print("all are equal")
  }

c is greatest

In [ ]:
def operations(num):
  switch={
      1 : "Vowel",
      2 : "Vowel",
      3 : "Vowel",
      4 : "Vowel",
      5 : "Vowel",
  }
  return switch.get(num,"It is not a vowel")
print(operations(1))

Vowel

In [ ]:
def operations(num):
  switch={
      1 : "One",
      2 : "Two",
      3 : "Three",
      4 : "Four",
  }
  return switch.get(num,"It is not a number")
print(operations(2))

Two

In [ ]:
number = -2

if number > 0:
    print('Number is positive.')
else:
    print('Number is negative.')

Number is negative.

In [ ]:
number = 0

if number > 0:
    print("Positive number")
elif number == 0:
    print('Zero')
else:
    print('Negative number')

Zero

In [ ]:
a=10
b=5
def add (a: int,b: int):
  c=a+b
  print(c)
add(a,b)

15

In [ ]:
num=int(input("Enter a number:"))
fact=1
if(num==0):
  print("Error")
elif(num==1):
  print("Factorial is 1")
else:
  for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter a number:5
120

In [ ]:
count=0
terms=5
a=0
b=a+1
print(a)
print(b)
for i in range(count,terms+1):
  c=a+b
  print(c)
  a=b
  b=c
  count+=1

0
1
1
2
3
5
8
13

In [ ]:
num=int(input("Enter a number:"))
def fact(num:int):
  fact=1
  if(num==0):
    print("Error")
  elif(num==1):
    print("Factorial is 1")
  else:
    for i in range(1,num+1):
      fact=fact*i
  print(fact)
fact(num)

Enter a number:5
120

In [ ]:

def fib(a:int,b:int):
  count=0
  terms=5
  a=0
  b=a+1
  print(a)
  print(b)
  for i in range(count,terms+1):
    c=a+b
    print(c)
    a=b
    b=c
    count+=1
fib(a,b)

0
1
1
2
3
5
8
13

In [ ]:
def leap(num):
  num=int(input("Enter year:"))
  if(num%4==0):
    print("leap year")
  else:
    print("not a leap year")
leap(num)

Enter year:2020
leap year

In [ ]:
print("hello world")

hello world

In [ ]:
n1=int(input('enter 1st number:'))
n2=int(input('enter 2nd number:'))
add=n1+n2
print('your total sum is:')
print(add)

enter 1st number:7
enter 2nd number:8
your total sum is:
15

In [ ]:
n=int(input('enter a number:'))
if(n%2==0):
  print('number is even')
else:
  print('number is odd')

enter a number:2
number is even

In [ ]:
p=float(input('enter initial principal balance:'))
r=float(input('enter interest rate:'))
n=float(input('enter number of times interest applied per time period:'))
t=float(input('enter number of time periods elapsed:'))
a=p*(pow((1+r/n), n*t))
print('compound interest is:')
print(a)

enter initial principal balance:2
enter interest rate:2
enter number of times interest applied per time period:2
enter number of time periods elapsed:2
compound interest is:
32.0

In [ ]:
x="12345543"
print(x.capitalize())
print(x.title())
print(x.upper())
print(x.lower())
print(x.swapcase())
y=int(x.count('a'))
print(y)
print(x.isdigit())

12345543
12345543
12345543
12345543
12345543
0
True

In [ ]:
def user():

  arr1=[]
  n=int(input('enter the number of elements in an array:'))
  for i in range(0,n):
    arr=int(input())
    arr1.append(arr)
  print(arr1)
def add():
  l=len(arr1)+1
  sum=0
  for i in range(l):
    sum=sum+i
  print(sum)
user()
add()

enter the number of elements in an array:4
1
2
3
4
[1, 2, 3, 4]
10

In [ ]:
x=[1,2,3,4]
l=len(x)+1
sum=0
for i in range(l):
  sum=sum+i
  sum1=sum+sum
print(sum1)

20

In [ ]:
array2=[]
array=int(input('enter elements:'))
for i in range(0,n):
  array1=int(input())
  array2.append(array1)
print(array2)

enter number of elements:2
1
2
2
3
[1, 2, 2, 3]

In [ ]:
num = int(input('enter a number:'))
for i in range(0, 11):
  print(num,'x',i,'=',num * i)

enter a number:2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
value=(input('enter an alphabet:'))
ord('value')

enter an alphabet:A

TypeError: ignored